:root {
    --r: 224;
    --g: 229;
    --b: 236;
    /* #e0e5ec */
    --bg-color: rgb(var(--r), var(--g), var(--b));
    --ff: Arial, sans-serif;
    --text-color: #444445;
    --text-color-2: #686a72;
    --company-color: #024685;
    /* --company-color: #193565; */
    /* Shadows */
    --shadow-light-color: rgba(255, 255, 255, 0.4);
    --shadow-dark-color: rgba(163, 177, 198, 0.6);
    --shadow-dark-color-2: rgba(148, 157, 166, 0.6);
    --bs-neu: inset -1px -1px 1px var(--shadow-dark-color),
              2px 2px 2px var(--shadow-dark-color),
              4px 4px 6px var(--shadow-dark-color),
              8px 8px 16px var(--shadow-dark-color),
              inset 1px 1px 1px var(--shadow-light-color),
              -2px -2px 2px var(--shadow-light-color),
              -4px -4px 6px var(--shadow-light-color),
              -8px -8px 16px var(--shadow-light-color);
    --bs-hover: inset -1px -1px 1px var(--shadow-dark-color-2),
                2px 2px 2px var(--shadow-dark-color-2),
                4px 4px 6px var(--shadow-dark-color-2),
                8px 8px 16px var(--shadow-dark-color-2),
                inset 1px 1px 1px var(--shadow-light-color),
                -4px -4px 6px var(--shadow-light-color),
                -8px -8px 16px var(--shadow-light-color);
    --bs-active: 1px 1px 1px var(--shadow-light-color),
                 inset -2px -2px 3px var(--shadow-light-color),
                 inset -6px -6px 6px var(--shadow-light-color),
                 -1px -1px 1px var(--shadow-dark-color),
                 inset -2px -2px 3px var(--shadow-dark-color),
                 inset -6px -6px 6px var(--shadow-dark-color);
    --bs-pressed: inset 5px 5px 10px var(--shadow-dark-color-2),
                  inset -5px -5px 10px var(--shadow-light-color);
    --bs-clay: inset 3px 3px 6px #d6e0ea,
               -3px -3px 6px #cad6e4,
               inset -3px -3px 40px #ccd9ea,
               3px 3px 6px #c8d5e6,
               5px 5px 10px var(--shadow-dark-color-2);
    --bs-neubr: 4px 4px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--ff);
    /* margin: 5px 10px; */
}

.container {
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}

header {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "logo hamburger"
        "menu menu";
    /* Fixed on top */
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #e0e5ec;
    padding: 0 0.5rem;
}

.logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.logo span {
    display: inline-block;
    width: clamp(1rem, 0.8000rem + 1.0000vw, 2rem);
    height: clamp(1rem, 0.8000rem + 1.0000vw, 2rem);
    border-radius: 50px;
    background: linear-gradient(145deg, #e7f1fa, #c2cbd3);
    box-shadow: var(--bs-neu);
}

.logo a {
    text-decoration: none;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    color: var(--bg-color);
    /* text-shadow: -4px -4px 6px #eceff6,
                 -7px -7px 10px #dfe6ee,
                  4px 4px 4px #9fafb9,
                  6px 6px 8px #b2beca,
                  8px 8px 16px #cbd6e0; */
    text-shadow: -3px -3px 8px #eceff6,
                 -5px -5px 9px #dfe6ee38,
                  4px 4px 4px #9fafb9,
                  6px 6px 8px #b2beca,
                  8px 8px 16px #cfdddd;
    user-select: none;
}

#hamburger-check {
    grid-area: hamburger;
    place-self: center;
    z-index: 1;
    opacity: 0;
    width: 50px;
    height: 50px;
}

/* Animated hamburger menu */
.hamburger_menu {
    grid-area: hamburger;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    box-shadow: var(--bs-neu);
    border-radius: 10px;
}

.hamburger_menu > * {
    width: 25px;
    height: 4px;
    background-color: var(--company-color);
    border-radius: 5px;
    margin: 1px;
    transition: 0.3s ease transform;
}

#hamburger-check:checked ~ .hamburger_menu > div:nth-child(1) {
    transform: translateY(6px) rotateZ(45deg);
}

#hamburger-check:checked ~ .hamburger_menu > div:nth-child(2) {
    width: 0;
}

#hamburger-check:checked ~ .hamburger_menu > div:nth-child(3) {
    transform: translateY(-6px) rotateZ(-45deg);
}

#hamburger-check:checked ~ .hamburger_menu {
    box-shadow: var(--bs-active);
}

/* Animated bento menu */
/* .hamburger {
    grid-area: hamburger;
    place-self: center;
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 13px;
    position: relative;
    box-shadow: var(--bs-neu);
    border-radius: 10px;
}

.hamburger > * {
    background-color: #193565;
    margin: 2px;
}

#hamburger-check:checked ~ .hamburger > div:nth-child(2) {
    background-color: var(--bg-color);
}

#hamburger-check:checked ~ .hamburger > div:nth-child(4) {
    background-color: var(--bg-color);
}

#hamburger-check:checked ~ .hamburger > div:nth-child(6) {
    background-color: var(--bg-color);
}

#hamburger-check:checked ~ .hamburger > div:nth-child(8) {
    background-color: var(--bg-color);
} */

nav {
    grid-area: menu;
    place-self: center;
    display: none;
    margin: 15px 0;
}

#hamburger-check:checked ~ nav {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav-links li:not([pressed]) {
    box-shadow: var(--bs-neu);
    border-radius: 0.5rem;
    user-select: none;
}

.nav-links li:not([pressed]):hover {
    box-shadow: var(--bs-hover);
}

/* .nav-links li:not([pressed]):active {
    box-shadow: var(--bs-active);
} */

.nav-links li[pressed] {
    box-shadow: var(--bs-active);
    border-radius: 0.5rem;
    user-select: none;
}

/* .nav-links li[pressed]:hover {
    box-shadow: var(--bs-active);
} */

/* .nav-links li[pressed]:active {
    box-shadow: var(--bs-active);
} */

.nav-links li a[active] {
    color: var(--company-color);
}

.nav-links li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: clamp(0.9rem, 0.8538rem + 0.2051vw, 1.1rem);
    padding: 0.5rem 0.9rem;
}


/* About */

.team {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.team h2 {
    text-decoration: underline;
    align-self: center;
    font-size: 2.5rem;
}

.team .team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
    gap: 2rem;
    justify-content: center;
    align-content: center;
}

.team .team-cards .team-card {
    box-shadow: var(--bs-neu);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1.5rem;
    height: max-content;
}

.team .team-cards .team-card > a img {
    width: 230px;
    border-radius: 50%;
    border: 1.2rem solid var(--bg-color);
    box-shadow: var(--bs-neu);
    cursor: pointer;
}

.team .team-card h3 {
    font-size: 1.4rem;
}

.team .team-cards .team-card details {
    width: 100%;
}

.team .team-cards .team-card details summary {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    box-shadow: var(--bs-neu);
    padding: 0.5rem 0.8rem;
    text-align: center;
}

.team .team-cards .team-card details ul {
    list-style: none;
    color: #4a5568;
}

.team .team-cards .team-card details ul li {
    padding: 5px 0;
}

.team .team-cards .team-card details ul li:nth-of-type(1) {
    font-weight: 600;
}

.team .team-cards .team-card details ul li svg {
    width: 18px;
}

.team .team-cards .team-card details summary:hover {
    box-shadow: var(--bs-hover);
}

.team .team-cards .team-card details summary:active {
    box-shadow: var(--bs-active);
}

.team .team-cards .team-card details[open] summary {
    box-shadow: var(--bs-active);
}

.team .team-cards .team-card details summary::marker,
.team .team-cards .team-card details summary::-webkit-details-marker {
    display: none;
}

.team .team-cards .team-card .team-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.team .team-cards .team-card .team-card-buttons a {
    text-decoration: none;
    color: inherit;
    box-shadow: var(--bs-neu);
    padding: 0.5rem 1.5rem;
}

.team .team-cards .team-card .team-card-buttons a:hover {
    box-shadow: var(--bs-hover);
}

.team .team-cards .team-card .team-card-buttons a:active {
    box-shadow: var(--bs-active);
}

.team .team-card .team-card-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.team .team-card .team-card-links a svg, .team-card .team-card-links a img {
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    box-shadow: var(--bs-neu);
    border-radius: 50%;
}

.team .team-card .team-card-links a svg:active, .team .team-card .team-card-links a img:active {
    box-shadow: var(--bs-pressed);
}

.timeline {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
}

.timeline h2 {
    text-decoration: underline;
    align-self: center;
    font-size: 2.5rem;
}

.timeline-grid {
    display: grid;
    grid-template-columns: 75vw;
    justify-content: end;
    margin: 0 5vw 0 0;
    position: relative;
}

.timeline-grid::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 100%;
    background-color: #999;
    left: 7%;
    box-shadow: var(--bs-neu);
}

.timeline-grid span {
    display: none;
}

.timeline-grid details {
    font-size: 20px;
    box-shadow: var(--bs-neu);
    cursor: pointer;
    margin-bottom: 3rem;
}

.timeline-grid details summary {
    list-style: none;
    padding: 20px;
    color: black;
}

.timeline-grid details[open] summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.timeline-grid details summary::marker,
.timeline-grid details summary::-webkit-details-marker {
    display: none;
}

.timeline-grid details p {
    padding: 20px;
    font-size: 16px;
}

/* About - Carluccio */

/* .test-1 img {
    float: left;
    width: 600px;
}

.test-1 p {
    margin-right: 280px;
    float: right;
}

.test-2 {
    clear: both;
}

.test-2 p {
    float: left;
}

.test-2 img {
    float: right;
    height: 397px;
    width: 680px;
} */

/* Services */

.consulenza-evoluta {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 0 0.8rem;
}

.consulenza-evoluta .consulenza-evoluta-descrizione {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1.5rem;
    padding: 1.2rem 0.5rem;
    font-size: 17px;
    line-height: 1.5;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: var(--bs-neu);
}

.consulenza-evoluta .consulenza-evoluta-descrizione h1 {
    line-height: 1;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #999;
}

.consulenza-evoluta .consulenza-evoluta-descrizione ul {
    padding-left: 1rem;
}

.consulenza-evoluta .consulenza-evoluta-descrizione ul ul {
    padding-left: 1rem;
    list-style-type: none;
}

.consulenza-evoluta ol {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    justify-content: center;
    justify-items: center;
    row-gap: 3rem;
    column-gap: 0rem;
}

.consulenza-evoluta ol li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 1rem;
    /* width: 500px; */
    box-shadow: var(--bs-clay);
    border-radius: 3rem;
    padding: 1rem;
}

.consulenza-evoluta ol li div p {
    font-size: 18px;
}

.consulenza-evoluta ol li div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    /* box-shadow: var(--bs-pressed); */
    border-radius: 20px;
    width: 270px;
    padding: 1rem 1rem;
    text-align: center;
}

.consulenza-evoluta ol li div:nth-of-type(1) h2 {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1.5rem;
    background-color: var(--company-color);
    color: white;
    /* border: 8px solid var(--company-color);
    box-shadow: inset 10px 10px 20px #011c35,
                inset -10px -10px 20px #0370d5;
    position: relative; */
}

/* .consulenza-evoluta ol li div:nth-of-type(1) h2::before {
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    width: 110%;
    height: 110%;
    background: red;
} */

.consulenza-evoluta ol li div:nth-of-type(1) h3 {
    font-size: 20px;
}

.consulenza-evoluta ol li div:nth-of-type(1) p {
    line-height: 1.4;
    font-size: 16px;
}

.consulenza-evoluta ol li svg {
    height: 3rem;
}

.consulenza-evoluta ol li div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    box-shadow: var(--bs-pressed);
    border-radius: 20px;
    width: 270px;
    padding: 1rem 0.8rem;
    text-align: center;
    background: #e3edf7;
}

.consulenza-evoluta ol li div:nth-of-type(2) img {
    width: 150px;
    /* aspect-ratio: 1 / 1; */
}

.consulenza-evoluta ol li div:nth-of-type(2) h2 {
    font-size: 26px;
}

.consulenza-evoluta ol li div:nth-of-type(2) p {
    line-height: 1.4;
    font-size: 17px;
}

.consulenza-evoluta ol li div:nth-of-type(2) a {
    text-decoration: none;
    color: inherit;
    box-shadow: var(--bs-neu);
    padding: 0.8rem;
    border-radius: 1rem;
    background: var(--bg-color);
}

.consulenza-evoluta ol li div:nth-of-type(2) a:hover {
    box-shadow: var(--bs-hover);
}

.consulenza-evoluta ol li div:nth-of-type(2) a:active {
    box-shadow: var(--bs-active);
}

/* Services SAP */

.SAP {
    display: flex;
    flex-direction: column;
    align-content: start;
    font-weight: bold;
    font-size: 18px;
    font-family: "Lucida Console", sans-serif;
    line-height: 1.4;
    border-top: 5px solid black;
}

.SAP section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0.5rem 3rem 0.5rem;
    border-bottom: 5px solid black;
}

.SAP section figure {
    border: 3px solid black;
    box-shadow: var(--bs-neubr);
}

.SAP section:nth-of-type(1) {
    background-color: #d4a210;
    color: black;
    border-bottom: 5px solid black;
}

.SAP section:nth-of-type(1) h1 {
    padding-bottom: 3rem;
    font-size: 50px;
    font-family: "Impact";
    line-height: 1;
}

.SAP section:nth-of-type(2) {
    background-color: #23a094;
    color: white;
}

.SAP section:nth-of-type(2) figure {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 16px;
    text-align: center;
    width: min(100%, 1000px);
}

.SAP section:nth-of-type(2) figure figcaption {
    border-bottom: 3px solid black;
    background: #98282a;
}

.SAP section:nth-of-type(3) {
    background: #fedca8;
    color: black;
}

/* .SAP section:nth-of-type(3) h2 {
    order: 1;
}

.SAP section:nth-of-type(3) p:nth-of-type(1) {
    order: 2;
}

.SAP section:nth-of-type(3) p:nth-of-type(2) {
    order: 4;
}

.SAP section:nth-of-type(3) p:nth-of-type(3) {
    order: 6;
}

.SAP section:nth-of-type(3) p:nth-of-type(4) {
    order: 8;
} */

/* .SAP section:nth-of-type(3) div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
} */

/* .SAP section:nth-of-type(3) aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
} */

.SAP section:nth-of-type(3) figure {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
}

.SAP section:nth-of-type(3) figure:nth-of-type(1) {
    /* order: 3; */
    justify-self: center;
    align-self: center;
    background: #dfb74a;
    width: min(100%, 480px);
}

.SAP section:nth-of-type(3) figure:nth-of-type(2) {
    /* order: 5; */
    justify-self: center;
    align-self: center;
    background: #72e24a;
}

.SAP section:nth-of-type(3) figure:nth-of-type(3) {
    /* order: 7; */
    justify-self: center;
    align-self: center;
    background: #e147bd;
    width: min(100%, 480px);
}

.SAP section:nth-of-type(3) figure:nth-of-type(4) {
    /* order: 9; */
    justify-self: center;
    align-self: center;
    background: #fb6f01;
    width: min(100%, 150px);
}

.SAP section:nth-of-type(3) figure figcaption {
    border-bottom: 3px solid black;
}

.SAP section:nth-of-type(3) figure img {
    width: 100%;
}

.SAP section:nth-of-type(4) {
    background: #ff90e8;
    color: black;
}

.SAP section:nth-of-type(5) {
    background: #90a8ed;
    color: black;
}

.SAP section:nth-of-type(6) {
    background: #23a094;
    color: black;
}

/* .services-container h1 {
    text-align: center;
    text-decoration: underline;
}

.servizi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1vw;
}

.modello {
    height: 20vh;
    width: 20vh;
    background-color: rgba(113, 111, 145, 1);
    border: 0.2rem solid black;
}

.servizi .servizio {
    flex-basis: 20%;
    height: 30vh;
    background-color: rgba(113, 111, 145, 1);
    text-align: center;
}

.lol:hover > .modello {
    border: 0.2rem solid yellow;
} */


/* Contacts */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}

.contacts h2 {
    text-decoration: underline;
    align-self: center;
    font-size: 2.5rem;
}

.contacts .contacts-mails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
}

.contacts .contacts-mails div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts .contacts-mails div svg {
    border: rgba(0, 0, 0, 0.03) solid 0.05rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: clamp(2.2rem, 1.9400rem + 1.3000vw, 3.5rem);
    height: clamp(2.2rem, 1.9400rem + 1.3000vw, 3.5rem);
}

.contacts .contacts-mails a {
    text-decoration: none;
    color: inherit;
    font-size: clamp(0.85rem, 0.6200rem + 1.1500vw, 2rem);
    padding: 0.5rem 1rem;
    box-shadow: var(--bs-pressed);
    background-color: #e3edf7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contacts .contacts-mails a:hover {
    text-decoration: underline;
}

.contacts .contacts-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* align-items: flex-start; */
    column-gap: 1rem;
    row-gap: 3rem;
}

.contacts .contacts-badges div {
    min-width: 200px;
}

.contacts .contacts-badges .contact-badge-call span {
    display: none;
}

.contacts .contacts-badges .contact-badge-visit-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.contacts .contacts-badges .contact-badge-visit-us .icon-map-pin {
    border-radius: 50%;
    border: 1rem solid var(--bg-color);
    box-shadow: 2px 2px 2px rgba(182, 191, 200, 0.9),
                4px 4px 6px rgba(182, 191, 200, 0.9),
                8px 8px 16px rgba(182, 191, 200, 0.9),
                -2px -2px 2px rgba(235, 245, 255, 0.9),
                -4px -4px 6px rgba(235, 245, 255, 0.9),
                -8px -8px 16px rgba(235, 245, 255, 0.9);
}

.contacts .contacts-badges svg {
    width: 7rem;
    height: 7rem;
}

.contacts .contacts-badges .contact-badge-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.contacts .contacts-badges .contact-badge-call .icon-phone-call {
    border-radius: 50%;
    border: 1rem solid var(--bg-color);
    box-shadow: 2px 2px 2px rgba(182, 191, 200, 0.9),
    4px 4px 6px rgba(182, 191, 200, 0.9),
    8px 8px 16px rgba(182, 191, 200, 0.9),
    -2px -2px 2px rgba(235, 245, 255, 0.9),
    -4px -4px 6px rgba(235, 245, 255, 0.9),
    -8px -8px 16px rgba(235, 245, 255, 0.9);
}

.contacts .contacts-badges .contact-badge-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 1rem;
}

.contacts .contacts-badges .contact-badge-email a {
    text-decoration: none;
    color: inherit;
}

.contacts .contacts-badges .contact-badge-email .icon-info-circle {
    border-radius: 50%;
    border: 1rem solid var(--bg-color);
    box-shadow: 2px 2px 2px rgba(182, 191, 200, 0.9),
    4px 4px 6px rgba(182, 191, 200, 0.9),
    8px 8px 16px rgba(182, 191, 200, 0.9),
    -2px -2px 2px rgba(235, 245, 255, 0.9),
    -4px -4px 6px rgba(235, 245, 255, 0.9),
    -8px -8px 16px rgba(235, 245, 255, 0.9);
}

.contacts .mappa-milano {
    aspect-ratio: 1 / 0.75;
    width: clamp(18.75rem, 15.0000rem + 18.7500vw, 37.5rem);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem 2rem;
    background-color: #3b3b3b;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
}

footer > span {
    width: 80%;
    height: 2px;
    background: rgba(255, 255, 255, 0.315);
    border-radius: 10px;
    align-self: center;
}

.dati-azienda address {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.dati-azienda address a {
    color: white;
}

.dati-azienda address p span {
    display: none;
}

.note-legali {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.note-legali details {
    cursor: pointer;
}

.linguaggi {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.linguaggi img {
    width: 12rem;
}

@media screen and (min-width: 481px) {
    footer {
        align-items: center;
    }

    .dati-azienda address p span {
        display: inline-block;
    }

    /* Contatti */
    .contacts .contacts-badges .contact-badge-call span {
        display: block;
    }

    #tel {
        display: none;
    }

    .note-legali {
        width: 15rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 5px 3vw;
    }
    
    .nav-links {
        flex-direction: row;
        column-gap: 1rem;
    }

    .timeline-grid {
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        margin: 0 5vw 0 5vw;
    }

    .timeline-grid::before {
        left: 50%;
    }

    .timeline-grid span {
        display: block;
    }

    .consulenza-evoluta .consulenza-evoluta-descrizione {
        padding: 1.2rem 1rem;
    }

    .consulenza-evoluta ol li {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        column-gap: 1rem;
        row-gap: 3rem;
        padding: 1rem;
        box-shadow: var(--bs-clay);
        border-radius: 3rem;
    }

    .consulenza-evoluta ol li svg {
        transform: rotate(-90deg);
        color: inherit;
    }

    .consulenza-evoluta ol li div:nth-of-type(1) {
        width: 300px;
        align-self: start;
    }

    .consulenza-evoluta ol li div:nth-of-type(1) p {
        text-align: justify;
    }

    .consulenza-evoluta ol li div:nth-of-type(2) {
        width: 300px;
    }

    .SAP {
        border-left: 5px solid black;
        border-right: 5px solid black;
    }

    footer {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media screen and (min-width: 1024px) {
    /* body {
        margin: 5px 3vw;
    } */

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 0rem;
        /* Fluid */
        position: static;
        z-index: initial;
    }

    nav {
        display: block;
        margin: 0;
    }

    #hamburger-check, .hamburger_menu {
        display: none;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
    }

    .consulenza-evoluta .consulenza-evoluta-descrizione ul {
        padding-left: 3rem;
    }
    
    .consulenza-evoluta .consulenza-evoluta-descrizione ul ul {
        padding-left: 1rem;
        list-style-type: none;
    }

    .consulenza-evoluta ol li div:nth-of-type(1) {
        width: 350px;
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-areas: "num title" "des des";
        column-gap: 1rem;
        row-gap: 2rem;
    }

    .consulenza-evoluta ol li div:nth-of-type(1) h2 {
        grid-area: num;
        align-self: start;
    }

    .consulenza-evoluta ol li div:nth-of-type(1) h3 {
        grid-area: title;
        text-align: left;
        font-size: 22px;
    }

    .consulenza-evoluta ol li div:nth-of-type(1) p {
        grid-area: des;
        text-align: left;
        font-size: 18px;
    }

    .consulenza-evoluta ol li div:nth-of-type(1):hover + svg {
        color: var(--company-color);
        transition: color 1.5s linear;
    }

    .consulenza-evoluta ol li div:nth-of-type(1):hover ~ div:nth-of-type(2) h2 {
        color: var(--company-color);
        transition: color 1.5s ease;
    }

    .consulenza-evoluta ol li div:nth-of-type(2) p {
        font-size: 28px;
    }

    .consulenza-evoluta ol li div:nth-of-type(2) p {
        font-size: 18px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        column-gap: 1rem;
    }
    
    footer > span {
        width: 2px;
        height: 180px;
    }
}

@media screen and (min-width: 1366px) {
    .consulenza-evoluta ol {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 460px);
        justify-content: space-around;
        /* justify-items: space-between; */
        /* column-gap: 5rem; */
        row-gap: 6rem;
    }

    .consulenza-evoluta ol li {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .consulenza-evoluta ol li svg {
        transform: none;
    }
}


@media screen and (min-width: 1536px) {
    body {
        margin: 5px 5vw;
    }

    .consulenza-evoluta ol {
        justify-content: space-around;
    }

    .SAP section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
  
    .SAP section:nth-of-type(3) p {
        align-self: center;
    }
}

@media screen and (min-width: 1800px) {
    body {
        margin: 5px 10vw;
    }
}

/* @media screen and (min-width: 1024px) {

    .index-div .aree-di-interesse {
        flex-direction: column;
        row-gap: 2rem;
    }

    .index-div .aree-di-interesse div h2, p {
        text-align: center;
    }

    .index-div .partners > div {
        flex-direction: column;
        row-gap: 2rem;
    }
    
    .index-div .partners > div h2, p {
        text-align: center;
    }
} */



.main-content {
    padding: 5rem 5rem;
    box-shadow: var(--bs-clay);
    border-radius: 3rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255,255, 255, 0.2));
}

.main-content .catchy-line h2 {
    font-size: clamp(2rem, 1.6000rem + 2.0000vw, 4rem);
    font-weight: 700;
    position: relative;
}

.main-content .catchy-line h2::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0.25rem;
    width: 3rem;
    height: 0.5rem;
    background-color: var(--text-color);
}

.main-content .catchy-line p {
    color: var(--text-color-2);
    font-size: 1.3rem;
}

.main-content > p {
    margin-top: 5rem;
    font-size: 3rem; 
    background-color: #e3edf7;
    box-shadow: var(--bs-pressed);
    border-radius: 15px;
}

.main-content .main-content-navbar .main-content-sidelinks li {
    box-shadow: var(--bs-pressed);
    border-radius: 15px;
}

.main-content .main-content-navbar .main-content-sidelinks li a {
    text-decoration: none;
    color: black;
    display: block;
}

.main-content .main-content-sidelinks .main-content-services {
    box-shadow: var(--bs-pressed);
    border-radius: 15px;
}

.main-content .main-content-sidelinks .main-content-portfolio {
    box-shadow: var(--bs-pressed);
    border-radius: 15px;
}

.main-content .fotoceramiche .fotoceramica {
    width: 6vw;
    border-radius: 50%;
    padding: 0.8rem;
    box-shadow: var(--bs-pressed);
}

/* Sezione aree di interesse */

.index-div {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.index-div .aree-di-interesse {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem;
    column-gap: 1rem;
}

.index-div .aree-di-interesse div {
    /* flex: 0.5; */
    flex-basis: 40%;
    align-self: center;
}

.index-div .aree-di-interesse div h2 {
    font-size: 2.8rem;
}

.index-div .aree-di-interesse div p {
    font-size: 1.3rem;
    color: var(--text-color-2)
}

.aree-di-interesse .aree-di-interesse-lista {
    flex-basis: 60%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-content: center;
}

.aree-di-interesse .aree-di-interesse-lista li {
    box-shadow: var(--bs-neu);
    color: inherit;
    border-radius: 1.5rem;
    font-size: clamp(0.55rem, 0.4400rem + 0.5500vw, 1.1rem);
    padding: 1rem 1rem;
}


/* Sezione partners */

.index-div .partners {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.index-div .partners > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem;
    column-gap: 1rem;
}

.index-div .partners > div div:first-child {
    justify-self: flex-end;
    align-self: center;
    flex: 0.5;
}

.index-div .partners > div h2 {
    font-size: 2.8rem;
}

.index-div .partners > div p {
    font-size: 1.3rem;
    color: var(--text-color-2)
}

.index-div .partners > div .partners-logo {
    flex: 0.5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 8rem;
    place-items: center;
    gap: 1rem;
}

.index-div .partners > div .partners-logo img {
    width: 100%;
}

.index-div .partners .partners-pareri {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    position: relative;
}

.index-div .partners .partners-pareri::after {
    content: '';
    position: absolute;
    width: 6rem;
    height: 0.2rem;
    background: var(--text-color);
    transform: translateY(3rem);
}

.index-div .partners .partners-pareri h3 {
    font-size: clamp(1.4rem, 1.2800rem + 0.6000vw, 2rem);
}

.index-div .partners .partners-pareri blockquote {
    font-size: 1.3rem;
}