* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Lato", "Lucida Grande", sans-serif;
    /* background-color: #3F3F3F; */
    background-color: #1f1f1f;
    margin: 1vh auto;
    max-width: 80vw;
}

#container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "partner"
        "footer";
    row-gap: 1vh;
}

header {
    width: max(80vw);
    /* min-width: vw; */
    /* width: clamp(150px, 100%, 100%); */
    background-color: #262626;
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#logo {
    font-family: "Montserrat", "Lucida Grande", sans-serif;
    color: white;
    letter-spacing: 3px;
    max-width: 60%;
}

nav ul li {
    display: inline-block;
    padding: 0px 15px;
}

nav ul li a{
    color: white;
    font-size: 16px;
    padding: 0 5px;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(16, 95, 185);
    text-decoration: underline;
}

header nav ul li a.active {
    color: green;
}

main {
    grid-area: main;
    color: white;
    width: max(80vw);
    /* max-width: 100%; */
    /* background-image: url("../img/The_Wolf_of_Wall_Street.png");
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center; */
    /* position: relative; */
}

main img {
    width: max(80vw);
    /* height: auto; */
    /* position: relative; */
}

main #catchy-line {
    width: max(80vw);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(245, 245, 16, 0.63), rgba(153, 153, 93, 0.384));
}

#partners {
    grid-area: partner;
    background-color: #262626;
    width: max(80vw);
}

#partners h2 {
    text-align: center;
}

#partners #logo-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#partners #logo-partners img {
    width: max(20vw);
    padding: 25px;
}

footer {
    grid-area: footer;
    width: max(80vw);
    padding: 3vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5vh;
    background-color: #262626;
}

footer .linguaggi h5 {
    text-align: center;
}

footer .linguaggi img {
    width: max(12vw);
}